.adopt {
  margin-top: 20px;
}

.adopt h2 {
  font-family: "Barrio";
  font-weight: bold;
  font-size: 2.5em;
}

.adopt h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Barrio";
}

.button {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.left-button {
  margin-left: auto;
  padding-right: 10px;
  flex : 1;
}

.right-button {
  margin-right: auto;
  padding-left: 10px;
  flex :1;
}

.button-image {
  width: 600px;
}

