.about {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: stretch;
}

.about-left img {
  width: 700px;
  border-radius: 5%;
  flex: 1;
}

.about-right {
  flex: 1;
  margin-left: 10%;
  margin-right: 20px;
}

.about-right h2 {
  font-family: "Barrio";
  font-weight: bold;
  font-size: 2em;
  color: rgb(27, 245, 208);
  border-bottom: 5px solid rgb(27, 245, 208);
}

.about-right p {
  font-size: 1em;
  font-weight: bold;
}
