.contact img {
  max-width: 80%;
  border-radius: 10%;
}

.contact h2 {
  font-family: "Barrio";
  font-weight: bold;
  font-size: 2.5em;
  color: rgb(27, 245, 208);
  border-bottom: 5px solid rgb(27, 245, 208);
}

.contact p {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 40px;
}
